.lower{

    background-color: red;
}
.above{

background-color: green;
}
.counter{
    padding-left: 39px;
    font-size: 2rem;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 7px;
}